{% extends "base.html" %}
{% block title %}新增项目{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 新增项目</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 项目管理 > <a href="#">新增项目</a></dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" {% comment %}method="post" action="/api/add_project/" {% endcomment %}id="add_project">
                    <div class="am-form-group am-cf">
                        <div class="zuo">项目名称：</div>
                        <div class="you">
                            <input name="project_name" type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入项目名称">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">负责人：</div>
                        <div class="you">
                            <input name="resposiable" type="text" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="负责人">
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">测试人员：</div>
                        <div class="you">
                            <input name="test_name" type="text" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="测试人员">
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">开发人员：</div>
                        <div class="you">
                            <input name="dev_name" type="text" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="开发人员">
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">发布应用：</div>
                        <div class="you">
                            <textarea name="publish_app" class="" rows="2" id="doc-ta-1"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">简要描述：</div>
                        <div class="you">
                            <textarea name="desc" class="" rows="2" id="doc-ta-1"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">其他信息：</div>
                        <div class="you">
                            <textarea name="others" class="" rows="2" id="doc-ta-1"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="you" style="margin-left: 11%;">
                            <button type="button" class="am-btn am-btn-success am-radius" onclick="add_ajax('#add_project')">点 击 提 交</button>&nbsp;
                            &raquo; &nbsp;
                            <a type="submit"  href="/api/add_module/" class="am-btn am-btn-secondary am-radius">新 增 模 块</a>

                        </div>
                    </div>
                </form>
            </div>
            <div class="foods">
                <ul>版权所有@2017 .微汇金融 <a href="http://ci.weihui.com/" target="_blank" title="微汇金融">微汇金融</a> {% comment %}- More
                        Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>{% endcomment %}
                </ul>
                <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>

            </div>

        </div>
    </div>

{% endblock %}