{% extends "base.html" %}
{% block title %}编辑配置{% endblock %}
{% load staticfiles %}

{% block content %}


    <div class="admin-biaogelist" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 配置编辑</ul>
            <dl class="am-icon-home" style="float: right;">当前位置： 用例管理 > <a href="#">更新配置</a></dl>
        </div>

        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">messages</a></li>
                <li><a href="#tab2">variables</a></li>
                <li><a href="#tab3">request</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active " id="tab1">
                    <form class="form-horizontal" id="form_config">
                        <div class="form-group has-feedback has-info">
                            <label for="test_index" class="col-md-2 control-label text-info" style="font-size: 14px;"
                                   hidden>配置索引:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="test_index" placeholder="配置索引"
                                       name="test_index"
                                       value={{ info.id }} hidden>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-info">
                            <label for="config_name" class="col-md-2 control-label text-info" style="font-size: 14px;">config_name:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="config_name" placeholder="配置名称"
                                       name="config_name"
                                       value="{{ info.name }}">
                                <span class="glyphicon glyphicon-certificate form-control-feedback"
                                      aria-hidden="true"></span>
                            </div>
                        </div>


                        <div class="form-group has-feedback has-info">
                            <label for="project" class="col-md-2 control-label text-info" style="font-size: 14px;">project:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="project" placeholder="所属项目"
                                       name="project"
                                       value="{{ info.belong_project }}" readonly>
                                <span class="glyphicon glyphicon-certificate form-control-feedback"
                                      aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-info">
                            <label for="config_module" class="col-md-2 control-label text-info"
                                   style="font-size: 14px;">module:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="config_module" placeholder="所属模块"
                                       name="config_module"
                                       value="{{ info.belong_module.module_name }}" readonly>
                                <span class="glyphicon glyphicon-certificate form-control-feedback"
                                      aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-info">
                            <label for="config_author" class="col-md-2 control-label text-info"
                                   style="font-size: 14px;">author:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="config_author" placeholder="创建者"
                                       name="config_author"
                                       value="{{ info.author }}">
                                <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab2">
                    <button class="btn btn-info" value="添 加" onclick="addNewRow('variables')">添加</button>
                    <button class="btn btn-danger" value="删 除" onclick="removeRow('variables')">删除</button>
                    <form id="config_variables">
                        <table class="table table-hover table-condensed table-bordered table-striped" id="variables">
                            <caption>Variables:</caption>
                            <thead>
                            <tr class="active text-success">
                                <th width="5%" align="center">Option</th>
                                <th width="40%" align="center">Key</th>
                                <th width="55%" align="center">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for foo in request.variables %}
                                <tr>
                                    <td><input type="checkbox" name="variables" id="chkArr_{{ forloop.counter }}"
                                               style="width:55px"></td>
                                    {% for key, value in foo.items %}
                                        <td><input type="text" name="cell1_keyvariables{{ forloop.parentloop.counter }}"
                                                   id="nodename{{ forloop.parentloop.counter }}"
                                                   value="{{ key }}" style="width:100%; border: none"></td>
                                        <td><input type="text"
                                                   name="cell2_valuevariables{{ forloop.parentloop.counter }}"
                                                   id="nodename{{ forloop.parentloop.counterr }}" value="{{ value }}"
                                                   style="width:100%; border: none"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="am-tab-panel am-fade" id="tab3">
                    <div class="form-inline">
                        <div class="form-group has-success">
                            <label for="url" style="font-size: 14px;">Base Url:</label>
                            <input type="text" class="form-control am-input-lg" placeholder="Base Url" name="url"
                                   id="config_url" value="{{ request.request.base_url }}">
                        </div>

                        <div class="form-group has-warning ">
                            <label for="DataType"
                                   style="font-size: 14px;"><code>&nbsp;</code>DataType:</label>
                            <select class="form-control" name="DataType" id="config_data_type">
                                <option>data</option>
                                <option>json</option>
                            </select>
                        </div>

                        <button class="btn btn-info" value="添 加" onclick="addNewRow('data')">添加数据</button>
                        <button class="btn btn-danger" value="删 除" onclick="removeRow('data')">删除数据</button>
                        <button class="btn btn-info" value="添 加" onclick="addNewRow('header')">添加头部</button>
                        <button class="btn btn-danger" value="删 除" onclick="removeRow('header')">删除头部</button>
                        <form id="config_request_data">
                            <table class="table table-hover table-condensed table-bordered table-striped" id="data">
                                <caption>request:</caption>
                                <thead>
                                <tr class="active text-success">
                                    <th width="5%" align="center">Option</th>
                                    <th width="40%" align="center">Key</th>
                                    <th width="55%" align="center">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if 'data' in request.request.keys %}
                                    {% for key, value in request.request.data.items %}
                                        <tr>
                                            <td><input type="checkbox" name="data" id="chkArr_{{ forloop.counter }}"
                                                       style="width:55px">
                                            </td>
                                            <td><input type="text" name="cell1_keydata{{ forloop.counter }}"
                                                       id="nodename{{ forloop.counter }}" value="{{ key }}"
                                                       style="width:100%; border: none"></td>
                                            <td><input type="text" name="cell2_valuedata{{ forloop.counter }}"
                                                       id="nodename{{ forloop.counter }}" value="{{ value }}"
                                                       style="width:100%; border: none"></td>
                                        </tr>

                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </form>

                        <form id="config_request_headers">
                            <table class="table table-hover table-condensed table-bordered table-striped" id="header">
                                <caption>headers:</caption>
                                <thead>
                                <tr class="active text-success">
                                    <th width="5%" align="center">Option</th>
                                    <th width="40%" align="center">Key</th>
                                    <th width="55%" align="center">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if 'headers' in request.request.keys %}
                                    {% for key, value in request.request.headers.items %}
                                        <tr>
                                            <td><input type="checkbox" name="header" id="chkArr_{{ forloop.counter }}"
                                                       style="width:55px">
                                            </td>
                                            <td><input type="text" name="cell1_keyheader{{ forloop.counter }}"
                                                       id="nodename{{ forloop.counter }}" value="{{ key }}"
                                                       style="width:100%; border: none"></td>
                                            <td><input type="text" name="cell2_valueheader{{ forloop.counter }}"
                                                       id="nodename{{ forloop.counter }}" value="{{ value }}"
                                                       style="width:100%; border: none"></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="am-form-group am-cf">
            <div class="you" style="margin-left: 11%;">
                <button type="button" class="am-btn am-btn-success am-radius" onclick="config_ajax('edit')">点 击 修 改
                </button>&nbsp;
                &raquo; &nbsp;
                <a type="submit" href="/api/add_config/" class="am-btn am-btn-secondary am-radius">新 增 配 置</a>

            </div>
        </div>
        <table class="table table-hover table-condensed table-bordered table-striped" id="variables">
            <div class="foods">
                <ul>版权所有@2017 .微汇金融 <a href="http://ci.weihui.com/" target="_blank" title="微汇金融">微汇金融</a></ul>
                <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>
            </div>

        </table>
    </div>

    <script>
        function addNewRow(id) {
            var tabObj = document.getElementById(id);//获取添加数据的表格
            var rowsNum = tabObj.rows.length;  //获取当前行数
            var attribute = 'variables';
            if (id === 'data') {
                attribute = 'data';
            } else if (id === 'header') {
                attribute = 'header';
            } else if (id === 'extract') {
                attribute = 'extract';
            } else if (id === 'validate') {
                attribute = 'validate';
            }
            var style = 'width:100%; border: none';
            var ids = 'nodename' + rowsNum;
            var cellHtml1 = "<input type='text' name='cell1_key" + id + rowsNum + "' id='" + ids + "' value='' style='" + style + "' />";
            var cellHtml2 = "<input type='text' name='cell2_value" + id + rowsNum + "' id='" + ids + "' value='' style='" + style + "' />";
            var cellHtml3 = "<input type='text' name='cell3_value" + id + rowsNum + "' id='" + ids + "' value='' style='" + style + "' />";
            var myNewRow = tabObj.insertRow(rowsNum);
            var newTdObj0 = myNewRow.insertCell(0);
            var newTdObj1 = myNewRow.insertCell(1);
            var newTdObj2 = myNewRow.insertCell(2);
            newTdObj0.innerHTML = "<input type='checkbox' name='" + attribute + "' id='chkArr_" + rowsNum + "' style='width:55px' />";
            newTdObj1.innerHTML = cellHtml1;
            if (id !== 'validate') {
                newTdObj2.innerHTML = cellHtml2;
            } else {
                newTdObj2.innerHTML = "<select name='cell_2comparator" + id + rowsNum + "' class='form-control' style='height: 25px; font-size: 15px; " +
                    "padding-top: 0px; padding-left: 0px; border: none'> " +
                    "<option>equals</option> <option>contains</option> <option>startswith</option> <option>endswith</option> <option>regex_match</option> <option>type_match</option> <option>contained_by</option> <option>less_than</option> <option>less_than_or_equals</option> <option>greater_than</option> <option>greater_than_or_equals</option> <option>not_equals</option> <option>string_equals</option> <option>length_equals</option> <option>length_greater_than</option> <option>length_greater_than_or_equals</option> <option>length_less_than</option> <option>length_less_than_or_equals</option></select>";
                var newTdObj3 = myNewRow.insertCell(3);
                newTdObj3.innerHTML = cellHtml3;
            }

        }

        /*表格删除行*/
        function removeRow(id) {
            var attribute = 'variables';
            if (id === 'data') {
                attribute = 'data';
            } else if (id === 'header') {
                attribute = 'header';
            } else if (id === 'extract') {
                attribute = 'extract';
            } else if (id === 'validate') {
                attribute = 'validate';
            }
            var chkObj = document.getElementsByName(attribute);
            var tabObj = document.getElementById(id);
            for (var k = 0; k < chkObj.length; k++) {
                if (chkObj[k].checked) {
                    tabObj.deleteRow(k + 1);
                    k = -1;
                }
            }
        }
    </script>
{% endblock %}