{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="admin">
        <div class="admin-index">
            <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
                <dt class="qs"><i class="am-icon-users"></i></dt>
                <dd>{{ project_length }}</dd>
                <dd class="f12"><a href="/api/project_list/1/" style="text-decoration: none">项目总计</a></dd>
            </dl>
            <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
                <dt class="cs"><i class="am-icon-area-chart"></i></dt>
                <dd>{{ module_length }}</dd>
                <dd class="f12"><a href="/api/module_list/1/" style="text-decoration: none">模块总计</a></dd>
            </dl>
            <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
                <dt class="ls"><i class="am-icon-bug"></i></dt>
                <dd>{{ test_length }}</dd>
                <dd class="f12"><a href="/api/test_list/1/" style="text-decoration: none">用例总计</a></dd>
            </dl>
            <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
                <dt class="hs"><i class="am-icon-server"></i></dt>
                <dd>{{ config_length }}</dd>
                <dd class="f12"><a href="/api/config_list/1/" style="text-decoration: none">配置总计</a></dd>
            </dl>
        </div>

        <!-- Modal -->

        {% comment %}<div class="admin-biaoge">
            <div class="xinxitj">项目概况</div>
            <table class="am-table">
                <thead>
                <tr>
                    <th>菜单1</th>
                    <th>菜单2</th>
                    <th>菜单3</th>
                    <th>菜单4</th>
                    <th>菜单5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>普卡</td>
                    <td>普卡</td>
                    <td><a href="#">4534</a></td>
                    <td>+20</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>银卡</td>
                    <td>银卡</td>
                    <td>4534</td>
                    <td>+2</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>金卡</td>
                    <td>金卡</td>
                    <td>4534</td>
                    <td>+10</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>钻卡</td>
                    <td>钻卡</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td>合计</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                </tbody>
            </table>
            <table class="am-table">
                <thead>
                <tr>
                    <th>菜单1</th>
                    <th>菜单2</th>
                    <th>菜单3</th>
                    <th>菜单4</th>
                    <th>菜单5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>普卡</td>
                    <td>普卡</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>银卡</td>
                    <td>银卡</td>
                    <td>4534</td>
                    <td>+2</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>金卡</td>
                    <td>金卡</td>
                    <td>4534</td>
                    <td>+10</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>钻卡</td>
                    <td>钻卡</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td>合计</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                </tbody>
            </table>
            <table class="am-table">
                <thead>
                <tr>
                    <th>菜单1</th>
                    <th>菜单2</th>
                    <th>菜单3</th>
                    <th>菜单4</th>
                    <th>菜单5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>普卡</td>
                    <td>普卡</td>
                    <td>4534</td>
                    <td>+20</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>银卡</td>
                    <td>银卡</td>
                    <td>4534</td>
                    <td>+2</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>金卡</td>
                    <td>金卡</td>
                    <td>4534</td>
                    <td>+10</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>钻卡</td>
                    <td>钻卡</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td>合计</td>
                    <td>4534</td>
                    <td>+50</td>
                    <td> 4534</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="shuju">
            <div class="shujuone">
                <dl>
                    <dt>成功用例： 1356666</dt>
                    <dt>失败用例： 5646465.98</dt>
                    <dt>总计用例： 546464</dt>
                </dl>
                <ul>
                    <h2>26.83%</h2>
                    <li>成功率</li>
                </ul>
            </div>
            <div class="shujutow">
                <dl>
                    <dt>成功用例： 1356666</dt>
                    <dt>成功用例： 5646465.98</dt>
                    <dt>成功用例： 546464</dt>
                </dl>
                <ul>
                    <h2>26.83%</h2>
                    <li>成功用例</li>
                </ul>
            </div>
            <div class="slideTxtBox">
                <div class="hd">
                    <ul>
                        <li>其他信息</li>
                        <li>工作进度表</li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <table width="100%" class="am-table">
                            <tbody>
                            <tr>
                                <td width="7%" align="center">1</td>
                                <td width="83%">工作进度名称</td>
                                <td width="10%" align="center"><a href="#">10%</a></td>
                            </tr>
                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>
                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>
                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>

                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>

                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>

                            <tr>
                                <td align="center">1</td>
                                <td>工作进度名称</td>
                                <td align="center"><a href="#">10%</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <ul>
                        <table class="am-table">
                            <tbody>
                            <tr>
                                <td>普卡</td>
                                <td>普卡</td>
                                <td><a href="#">4534</a></td>
                                <td>+20</td>
                                <td> 4534</td>
                            </tr>
                            <tr>
                                <td>银卡</td>
                                <td>银卡</td>
                                <td>4534</td>
                                <td>+2</td>
                                <td> 4534</td>
                            </tr>
                            <tr>
                                <td>金卡</td>
                                <td>金卡</td>
                                <td>4534</td>
                                <td>+10</td>
                                <td> 4534</td>
                            </tr>
                            <tr>
                                <td>钻卡</td>
                                <td>钻卡</td>
                                <td>4534</td>
                                <td>+50</td>
                                <td> 4534</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>合计</td>
                                <td>4534</td>
                                <td>+50</td>
                                <td> 4534</td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>{% endcomment %}


    </div>

{% endblock %}