{% extends "base.html" %}
{% block title %}模块信息{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class="admin-biaogelist">
        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 模块列表</ul>
            <dl class="am-icon-home" style="float: right;"> 当前位置： 项目管理 > <a href="#">项目展示</a></dl>
            <dl>
                <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"
                        onclick="location='/api/add_module/'">新增模块
                </button>
            </dl>


        </div>

        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">

            <ul>
                <li>
                    <div class="am-btn-group am-btn-group-xs">
                        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
                            <option value="b">所有</option>
                            <option value="b">有效</option>
                            <option value="o">无效</option>
                        </select>
                    </div>
                </li>
                <li><input type="text" class="am-form-field am-input-lg am-input-xm" placeholder="测试人员"/></li>
                <li><input type="text" class="am-form-field am-input-lg am-input-xm" placeholder="模块名称"/></li>
                <li>
                    <button type="button" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索
                    </button>
                </li>
            </ul>
        </div>


        <form class="am-form am-g">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
                    <th class="table-check"><i class="am-icon-check am-text-warning"></i></th>
                    <th class="table-title">序号</th>
                    <th class="table-type">模块名称</th>
                    <th class="table-type">测试人员</th>
                    <th class="table-type">所属项目</th>
                    <th class="table-title">有效/无效 <i class="am-icon-check am-text-warning"></i> <i
                            class="am-icon-close am-text-primary"></i></th>
                    <th class="table-date am-hide-sm-only">提测时间</th>
                    <th width="163px" class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>

                {% for foo in module %}
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="#">{{ foo.module_name }}</a></td>
                        <td>{{ foo.test_user }}</td>
                        <td>{{ foo.belong_project.pro_name}}</td>
                        {% if foo.status == 1 %}
                            <td class="am-hide-sm-only"><i class="am-icon-check am-text-warning"></i></td>
                        {% else %}
                            <td class="am-hide-sm-only"><i class="am-icon-close am-text-primary"></i></td>
                        {% endif %}
                        <td class="am-hide-sm-only">{{ foo.create_time }}</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><span
                                            class="am-icon-pencil-square-o"></span></button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-warning  am-round"><span
                                            class="am-icon-copy"></span></button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round"><span
                                            class="am-icon-trash-o"></span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default" onclick="location='/api/add_project/'"><span
                        class="am-icon-plus"></span> 新增
                </button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>

            <ul class="am-pagination am-fr">
                {{ page_list }}
            </ul>


            <hr/>

        </form>
        <div class="foods">
            <ul>版权所有@2017 .微汇金融 <a href="http://ci.weihui.com/" target="_blank" title="微汇金融">微汇金融</a></ul>
            <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>
        </div>
    </div>

{% endblock %}